@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Lato:wght@300;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

h1 {
  color: #333333;
  letter-spacing: 4px;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

p {
  color: #333333;
  font-family: 'Courier Prime', monospace;
}

hr.divide {
  border: 2px dashed #9b9b9b;
  border-style: none none dashed;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

/* styling scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #FAFAFA;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #EEEEEE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c7c7c7;
}

div.nav {
  padding-right: 5%;
  padding-left: 5%;
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav-li {
  float: right;
  border-left: 1.5px dashed #9b9b9b;
  border-bottom: 1.5px dashed #9b9b9b;
}

.nav-li.nobar {
  border-left: none;
}

li:last-child {
  border-left: none;
}

li a {
  display: block;
  color: #333333;
  text-align: center;
  padding: 10px 50px;
  text-decoration: none;
  font-family: 'Courier Prime', monospace;
}

li a:hover:not(.active) {
  color: #c7c7c7;
}

.active {
  background-color: #4A5568;
}

.intro {
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  padding: 15%;
}

.intro-item {
  padding: 2%;
  text-align: center;
}

.intro-img {
  margin: 0 auto;
  max-width: 20%;
  display: block;
}

hr.hyp {
  width: 5%;
  height: 3px;
  background-color: #9b9b9b;
  margin-right: auto;
  margin-left: auto;
}

.portfolio {
  padding: 5%;
  margin: auto;
}

.portfolio-title {
  padding-bottom: 5%;
  margin: auto;
  font-weight: 700;
}

.portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  row-gap: 5%;
  -webkit-column-gap: 5%;
          column-gap: 5%;
}

@media only screen and (max-width: 430px) {
  .portfolio-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    row-gap: 5%;
  }
}

.project-container {
  background-color: #FAFAFA;
  width: 100%;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  position: relative;
}

.project-container-img {
  background-color: #EEEEEE;
  max-width: 100%;
  padding: 5%;
  opacity: 1;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -o-object-fit: contain;
     object-fit: contain;
}

.project-container-img.half {
  padding: 5% 0;
}

.middle {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.project-container:hover .project-container-img {
  background-color: #EEEEEE;
  -webkit-filter: blur(4px);
  filter: blur(4px);
  opacity: 0.5;
}

.project-container:hover .middle {
  opacity: 1;
}

.project-text {
  font-size: 12px;
  color: #333333;
  font-family: 'Courier Prime', monospace;
  font-weight: 700;
}

.project-title {
  padding: 5px;
  text-align: left;
}

.bio {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
  padding: 10% 10% 10% 10%;
  row-gap: 5%;
}

.bio-blurb {
  text-align: justify;
  font-size: 20px;
}

.bio-img {
  margin: 0 auto;
  max-width: 60%;
}

.sub-container {
  padding: 5% 10% 5% 10%;
  margin: auto;
}

.sub-title {
  margin: auto;
  font-weight: 700;
  font-size: 20px;
}

ul {
  list-style-type: none;
}

.li-skill {
  padding: 3%;
  color: #333333;
  font-family: 'Courier Prime', monospace;
  font-size: 20px;
}

.skill-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 5% 10% 5% 10%;
}

.skill-column {
  text-align: justify;
  padding-left: 30%;
}

/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
  padding: 5% 0 5% 0;
  min-height: 200px;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #9b9b9b;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #333333;
}

/* Caption text */
.text-center {
  color: #333333;
  font-size: 20px;
  position: absolute;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 40px;
  margin: 0 2px;
  background-color: #9b9b9b;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #333333;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
          animation-name: fade;
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

footer {
  -ms-flex-line-pack: center;
      align-content: center;
  padding-top: 5%;
}

.footer-ul {
  list-style-type: none;
  margin: 0 5% 0 5%;
  padding: 0;
  overflow: hidden;
  border-top: 1.5px dashed #9b9b9b;
}

.footer-li {
  float: right;
  border-left: 1.5px dashed #9b9b9b;
}

.footer-img {
  float: left;
  width: 35px;
  height: auto;
}

.container {
  padding: 10%;
}
/*# sourceMappingURL=styles.css.map */