// about class
.bio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    row-gap: 5%;
    column-gap: 5%;
}

.bio-title {
  margin: auto;
  font-weight: 700;
  font-size: 20px;
  padding-bottom: 2%;
}

.bio-hidden {
  display: none;
}

.bio-blurb {
    text-align: justify;
    font-size: 22px;
}

.bio-img {
    margin: 0 auto;
    max-width: 100%;
}

.sub-container {
    padding: 5% 10% 5% 10%;
    margin: auto;
}

.sub-title {
    margin: auto;
    font-weight: 700;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

.li-skill {
    padding: 3%;
    color: $primary-text;
    font-family: 'Courier Prime', monospace;
    font-size: 20px;
}

.skill-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 5% 10% 5% 10%;
}

.skill-column {
    text-align: justify;
    padding-left: 30%;
}




/* Slideshow container */
.slideshow-container {
  max-width: 75%;
  position: relative;
  margin: auto;
  padding: 5% 0 5% 0;
  min-height: 450px;
}
  
/* Hide the images by default */
.mySlides {
  display: none;
}
  
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: $primary-lines;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
  
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: $primary-text;
}

/* Caption text */
.text-center {
  color: $primary-text;
  font-size: 24px;
  position: absolute;
  //bottom: 8px;
  width: 100%;
  text-align: justify;
  padding: 0 10% 0 10%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 3px;
  width: 40px;
  margin: 0 2px;
  background-color: $primary-lines;

  display: inline-block;
  transition: background-color 0.6s ease;
}
  
.active, .dot:hover {
  background-color: $primary-text;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
  
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


@media only screen and (max-width: $breakpoint) {
  
  .bio {
    display: block;
  }

  .bio-blurb {
    font-size: smaller;
    padding-bottom: 10%;
  }

  .bio-hidden {
    display: block;
    font-size: smaller;
    padding-bottom: 3%;
  }

  .bio-img {
    max-width: 75%;
    border-radius: 1%;
}

  .li-skill {
    font-size: smaller;
  }

  .sub-title {
      font-size: smaller;
  }

  .skill-column {
      text-align: left;
      padding-left: 15%;
  }

  .skill-container {
      padding: 5%;
  }

  .text-center {
    font-size: 12px;
    text-align: justify;
  }

  .slideshow-container {
    max-width: 90%;
    padding: 5% 0 5% 0;
    min-height: 250px;
  }
}
