@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Lato:wght@300;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  top:0!important;
  background-color: $primary-background;
  font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: $primary-text;
    letter-spacing: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

p {
    color: $primary-text;
    font-size: 20px;
    font-family: 'Courier Prime', monospace;
}

img {
    max-width: 20%;
    display: block;
}


hr.divide {
    border: 2px dashed $primary-lines;
    border-style: none none dashed; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* styling scrollbar */
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: $primary-background; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secondary-hover; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secondary-hover;  
  }

