@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Lato:wght@300;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: $primary-background;
}

h1 {
    color: $primary-text;
    letter-spacing: 4px;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

p {
    color: $primary-text;
    font-family: 'Courier Prime', monospace;
}

img {
    max-width: 20%;
    display: block;
}


hr.divide {
    border: 2px dashed $primary-lines;
    border-style: none none dashed; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
