
.contact-container {
    grid-template-columns: auto auto auto;
    padding: 10%;
}

.contact-buttons {
    padding: 10% 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-img {
    max-width: 80%;
    padding-left: 20%;
}

.contact-profile {
    max-width: 100%;
    border-radius: 1%;
    padding: 5% 0;
}

.contact-title {
    font-size: 20px;
    font-weight: 700;
    padding: 5% 0 5% 0;
}

.contact-blurb {
    text-align: justify;
    font-size: 17px;
}

.contact-info {  
    text-align: justify;
    padding-bottom: 5%;
    font-size: 17px;
}

.end-note {
    text-align: center;
    font-size: 17px;
}

.credits {
    padding-top: 45%;
}

.contact-lang {
    text-align: center; 
    padding-left: 15%;
    padding-top: 5%;
}