// footer classes
footer {
    align-content: center;
    padding-top: 5%;

    @media only screen and (max-width: $breakpoint) {
        display: none;
    }
}



.footer-ul {
    list-style-type: none;
    margin: 0 5% 0 5%;
    padding: 0;
    overflow: hidden;
    border-top: 1.5px dashed $primary-lines;
}
  
.footer-li {
    float: right;
    padding:  0.5% 3% 0 3%;
    border-left: 1.5px dashed $primary-lines;
}

.footer-img {
    float: left;
    width: 35px;
    height: auto;
}

#btn {
    border: none;
    background-color: $primary-background;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    color: $primary-text;
    font-family: 'Courier Prime', monospace;
}


  

