// footer classes
footer {
    align-content: center;
    padding-top: 5%;
}



.footer-ul {
    list-style-type: none;
    margin: 0 5% 0 5%;
    padding: 0;
    overflow: hidden;
    border-top: 1.5px dashed $primary-lines;
}
  
.footer-li {
    float: right;
    border-left: 1.5px dashed $primary-lines;
}

.footer-img {
    float: left;
    padding: 10px 10px 0 0;
    width: 30px;
    height: auto;
}
  

