// intro class
.intro {
    grid-template-columns: auto auto auto;
    padding: 15%;

    @media only screen and (min-width: 1440px) {
        font-size: 30px;
    }

    p {
        @media only screen and (min-width: 430px) {
            font-size: 15px;
        }
    }
}

.intro-item {
    padding: 2%;
    text-align: center;
    @media only screen and (min-width: 430px) {
        font-size: 20px;
    }

}

.intro-img {
    margin: 0 auto;
    max-width: 20%;
    display: block;
}

hr.hyp {
    width: 5%;  
    height: 3px;  
    background-color: $primary-lines;
    margin-right: auto;  
    margin-left: auto;  
}