// intro class
.intro {
    grid-template-columns: auto auto auto;
    padding: 15%;
}

.intro-item {
    padding: 2%;
    text-align: center;
    font-size: x-large;

    @media only screen and (max-width: $breakpoint) {
        font-size: smaller;
    }
}

.intro-img {
    margin: 0 auto;
    max-width: 20%;
    display: block;
}

hr.hyp {
    width: 5%;  
    height: 3px;  
    background-color: $primary-lines;
    margin-right: auto;  
    margin-left: auto;  
}