// navbar classes

div.nav {
    padding-right: 5%;
    @media only screen and (max-width: 430px) {
        display: none;
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  
li {
    float: right;
    border-left: 1.5px dashed $primary-lines;
    border-bottom: 1.5px dashed $primary-lines;
}
  
li:last-child {
    border-left: none;
}
  
li a {
    display: block;
    color: $primary-text;
    text-align: center;
    padding: 10px 50px;
    text-decoration: none;
    font-family: 'Courier Prime', monospace;
    @media only screen and (min-width: 1440px) {
        font-size: 30px;
    }
}
  
li a:hover:not(.active) {
    color: $secondary-hover;
}

  
.active {
    background-color: $primary-hover;
}

