// navbar classes
.nav-li {
    float: right;
    border-left: 1.5px dashed $primary-lines;
    border-bottom: 1.5px dashed $primary-lines;

    &.nobar {
        border-left: none;
    }
}
  
li:last-child {
    border-left: none;
}
  
li a:hover:not(.active) {
    color: $secondary-hover;
}

.active, a#nav-toggle:hover  {
  background-color: $primary-background;
}

.nav-hidden {
    display: none;
}

.nav-container {
    margin: 0 auto;
    padding-right: 5%;
    padding-left: 5%;
}


nav {
  float: right;
  ul {
      list-style: none;
      margin: 0;
      padding: 0;
      li a {
        display: block;
        color: $primary-text;
        text-align: center;
        padding: 10px 50px;
        text-decoration: none;
        font-family: 'Courier Prime', monospace;
      } 
      
      // Dropdown list
      ul li {
        min-width: 190px;
        a {
          padding: 15px;
          line-height: 20px;
        }
      }
    }
  }



.nav-dropdown {
  display: none;
  position: absolute;
  z-index: 1;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: $primary-background;
  height: $nav-height;
  width: $nav-height;
}

@media only screen and (max-width: $breakpoint) {
  
  .nav-li {
      display: none;
  
      &.nobar {
          border-left: none;
      }
  }

  h1 {
      font-size: smaller;
      letter-spacing: 2px;
  }

  p {
    font-size: smaller;
  }

  .nav-hidden {
    float: none;
    border-left: none;
    border-bottom: none;
    display: block;
    font-size: 30px;
    padding-bottom: 5%;
    float: right;
    clear: both;
  }

  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 5%;
    ul {
      background-color: $primary-background;
      height: 100vh;
      display: none;
      padding-top: 100%;
    }
  }
  .nav-dropdown {
    position: static;  
  }
  
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
    span,
    span:before,
    span:after {
      cursor: pointer;
      border-radius: 1px;
      height: 5px;
      width: 35px;
      background: $primary-lines;
      position: absolute;
      display: block;
      content: '';
      transition: all 300ms ease-in-out;
    }
    span:before {
      top: -10px;
    }
    span:after {
      bottom: -10px;
    }
    &.active span {
      background-color: transparent;
      &:before,
      &:after {
        top: 0;
      }
      &:before {
        transform: rotate(45deg);
      }
      &:after {
        transform: rotate(-45deg);
      }
    }
  }
}

@media screen and (min-width: $breakpoint) {
  .nav-list {
    display: block !important;
  }
}