// portfolio class
.portfolio {
    padding: 5%;
    margin: auto;
    // @media only screen and (min-width: 1440px) {
    //     font-size: 30px;
    // }
}

.portfolio-title {
    padding-bottom: 5%;
    margin: auto;
    font-weight: 700;
}

// project class
.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5%;
    column-gap: 4%;


    @media only screen and (max-width: 430px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 5%;
    }
}

.project-container{
    background-color: $primary-background;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    position: relative;
}

.project-container-img {
    background-color: $primary-project;
    max-width: 100%;
    height: 200px;
    padding: 20px;
    opacity: 1;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
  
.project-container:hover .project-container-img {
    background-color: $primary-project;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0.5;
    
}

.project-container:hover .middle {
    opacity: 1;
}

.project-text {
    font-size: 12px;
    color: $primary-text;
    font-family: 'Courier Prime', monospace;
}




.project-title {
    padding: 5px;
    text-align: left;
}
  
  

  
  


