// portfolio class
.portfolio {
    padding: 5%;
    margin: auto;
    @media only screen and (min-width: 1440px) {
        font-size: 30px;
    }
}

.portfolio-title {
    padding-bottom: 5%;
    margin: auto;
    font-weight: 700;
}

// project class
.portfolio-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30%;
    column-gap: 4%;
    padding-bottom: 15%;


    @media only screen and (max-width: 430px) {
        grid-template-columns: auto auto;
        row-gap: 10%;
    }
}

.project-container{
    background-color: $primary-background;
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.project-container-img {
    background-color: $primary-project;
    max-width: 100%;
    height: 200px;
    padding: 20px;
}

.project-title {
    padding: 5px;
    text-align: left;
}
  
  

  
  


