$primary-background: #FAFAFA;
$primary-project: #EEEEEE;
$primary-hover: #4A5568;
$primary-text: #333333;
$primary-lines: #9b9b9b;

$secondary-hover: #c7c7c7;


$content-width: 1000px;
$breakpoint: 431px;
$nav-height: 70px;